<%- include('./partials/header') %>

<section class="hero-section">
  <img src="stylesheets/simple-hero.png" alt="" class="hero-image"/>
  <% if(user) { %>
    <a href="/stories" class="main-cta">Browse Stories</a>
  <% } else { %>
    <a href="/auth/google" class="main-cta">Join Now</a>
  <% } %>
  
</section>

<section class="recent-stories">
  <h3>Recent Stories</h3>
  <div class="stories-container">
 <% limitedStories.forEach((story) => { %>
  <div class="stories-content">
  <% if(story.thumbnail) { %>
    <img src="<%=story.thumbnail.url%>" class="story-thumbnail" alt="<%=story.thumbnail.alt%>" />
 <% } else { %> 
  <img src="stylesheets/book.png" class="story-thumbnail" alt="<%=story.title%> cover" />
  <%}%>
    <p class="story-summary"><%=story.summary%></p>
    <a href="/stories/<%=story._id%>" class="read-cta">Read Now</a>
  </div>
 <% }) %>
</div>
</section>


<%- include('./partials/footer') %>
