<%- include('../partials/header') %>

<h2>Edit Your Story: <%=story.title%></h2>

<form action="/stories/<%=story._id%>?_method=PUT" method="POST" class="story-form">

  <label><h4>Rating</h4></label>
    <select name="rating">
      <option disabled>--SELECT RATING--</option>
      <option value="General" <%= currentRating === 'General' ? 'selected' : '' %>>General</option>
      <option value="Teen" <%= currentRating === 'Teen' ? 'selected' : '' %>>Teen</option>
      <option value="Mature" <%= currentRating === 'Mature' ? 'selected' : '' %>>Mature</option>
      <option value="Explicit" <%= currentRating === 'Explicit' ? 'selected' : '' %>>Explicit</option>
    </select>

    <label><h4>Warning</h4></label>
   <% warningOptions.forEach((warning) => { %>
        <label>
          <input type="checkbox" name="warning" value="<%=warning%>"
          <%if (selectedWarnings && selectedWarnings.includes(warning)) { %>
              checked
         <% } %>
         />
         <%=warning%>
        </label>
   <% }) %>

   <label><h4>Thumbnail</h4></label>
    <input type="text" name="thumbnail" value="<%=story.thumbnail%>"/>

    <label><h4>Summary</h4></label>
  <textarea name="summary"><%=story.summary%></textarea>

  <label><h4>Title</h4></label>
    <input type="text" name="title" value="<%=story.title%>"/>

    <label><h4>Text Editor</h4></label>
  <textarea id="storytextarea" name="content"><%=story.content%></textarea>
  <button type="submit">Update Story</button>
</form>

<%- include('../partials/footer') %>
