<%- include('../partials/header') %>

<h2>Start a New Story</h2>

<form action="/stories" method="POST" class="story-form" enctype="multipart/form-data">

  <label for="new-rating"><h4>Rating</h4></label>
    <select id="new-rating" name="rating">
      <option disabled selected>--SELECT RATING--</option>
      <option value="General">General</option>
      <option value="Teen">Teen</option>
      <option value="Mature">Mature</option>
      <option value="Explicit">Explicit</option>
    </select>
 

  <label for="new-warning"><h4>Warning</h4></label>
   <% warningOptions.forEach((warning) => { %>
        <label for="new-<%=warning%>">
          <input id="new-<%=warning%>" type="checkbox" name="warning" value="<%=warning%>"/>
          <%=warning%>
        </label>
   <% }) %>
  
    <label for="new-cloudinary-image">
      Image Upload
      <input id="new-cloudinary-image" type="file" name="imageUpload"/>
  </label>
  <label for="new-cloudinary-description">
      Image Description
      <input id="new-cloudinary-description" type="text" name="description" />
  </label>
  <label for="new-cloudinary-alt">
      Image Alt Text
      <input id="new-cloudinary-alt" type="text" name="alt" />
  </label>
  

  <label for="new-summary"><h4>Summary</h4></label>
  <textarea id="new-summary" name="summary" required></textarea>

  <label for="new-title"><h4>Title</h4></label>
    <input id="new-title" type="text" name="title" required />
  

  <label for="storytextarea"><h4>Text Editor</h4></label>
  <textarea id="storytextarea" name="content"></textarea>
  <button type="submit">Add Story</button>
</form>

<%- include('../partials/footer') %>
