<%- include('../partials/header') %>

<section class="story-info">
  <h4>Warning(s): <%= story.warning.length > 0 ? story.warning : 'None' %></h4>
  <h4>Rating: <%=story.rating%></h4>  
</section>

<section class="story-start">
  <h4><%=story.title%></h4>
  <%-story.content%>
</section>


<% if(user) { %> 
  <% if(user._id.toString() === story.author.toString()) { %>
<a href="/stories/<%=story._id%>/edit">Edit</a>

<form action="/stories/<%=story._id%>?_method=DELETE" method="POST">
  <button value="submit">Delete</button>
</form>
  <%}%> 
<%}%>

<% pollVotes.forEach(({ poll, userHasVoted }) => { %>
  <form action="/stories/<%= story._id %>/polls/<%= poll._id %>/vote" method="POST">
    <p><%= poll.question %></p>
    <% poll.options.forEach((option) => { %>
      <label for="<%= option %>">
        <input type="radio" id="<%= option %>" name="selectedOption" value="<%= option %>" />
        <%= option %>
      </label>
    <% }) %>
    <% if (user && userHasVoted(user, poll)) { %>
      <p>You have already voted on this poll.</p>
    <% } else if(!user) { %>
      <p>You must be signed in to vote</p>
      
    <% } else { %>
      <button type="submit">Vote</button>
      <% } %>
  </form>
<% }) %>

<%story.polls.forEach((poll, pollIndex) => { %>
  <p>Votes</p>
  <ul>
    <% Object.entries(pollCount[pollIndex]).forEach(([option, count]) => { %>
      <li><%= option %>: <%= count %></li>
    <% }) %>
  </ul>
<%})%>


<section class="comments-section">
  <h4>Comments</h4>
  <%if (user) { %>
    <form action="/stories/<%=story._id%>/comment" method="POST" class="story-form">
  
    <label for="new-comment">Comment</label>
    <textarea id="new-comment" name="content"></textarea>
  
    <button value="submit">Add Comment</button>
    </form>
  <%}%>
  
  <%if (story.comments.length > 0) {%>
    
    <%story.comments.forEach((comment) => { %>
      
      <section class="created-comments">
      <p class="comment-user-info"><%=comment.user.name %> | <%=comment.createdAt.toDateString('en-us', {weekday:"short", year:"numeric", month:"short"})%></p>
      <p><%=comment.content%></p>
      <% if(user && user._id.toString() === comment.user._id.toString()) {%>
        <a href="/comment/<%=comment._id%>">Edit Comment</a>
  
        <form action="/comment/<%=comment._id%>?_method=DELETE" method="POST">
          <button>Delete Comment</button>
        </form>
      </section>
      <%}%>
    <% }) %>
  <% } else { %>
    <p>This story has no comments yet...</p>
    <% }%>
</section>


<%- include('../partials/footer') %>


